<h1>Recepten</h1>

<hr/>

<% @recipes.each do |recipe| %>

<div class="row">



<div class="col-md-2">
      <div class="col -md-4 pull-right center"></div>

<section class="chef_info center">
</section>
</div>
<div class="col-lg-8 well">

<p><h4><%= link_to recipe.naam," " %></h4></p>
</div>
</div>
<% end %>