<div class="center jumbotron">
  <h1>Welkom op mijn Recepten App !</h1>
  
  
 <h2>testtesteetsetsqtmqekjq qkermk qerqekrmq ekrjqkmer mkqe</h2>
 
 <%= link_to "Meld U Aan!","", class: "btn btn-lg btn-success" %>

</div>

