
 <header class="navbar navbar-fixed-top navbar-default">
<div class="container">
 <!-- <div>
       <%=link_to image_tag("recipe.png", width: '80', height: '80', alt: 'Site Logo',id:"logo" ) %>
</div>-->
  <%= link_to "Mijn Recepten",root_path,class: "btn btn-lg btn-success",id:"logo" %>
     <div class="nav_item">
 
    
    <div class="nav_item">
  <%= link_to "Recepten lijst",recipes_path, class: "btn btn-default btn-success", id:"nav_item" %>
    </div>
    
     <div class="nav_item">
  <%= link_to "link 1","", class: "btn btn-default btn-success" , id:"nav_item"%>
        </div>
    
   
    
    <!--<div class="nav_item">-->
    <!--      <br><a href="#" class="btn btn-default btn-success  pull-right bottom", id:"nav_item">-->
    <!--      <span class="glyphicon glyphicon-user"></span> Aanmelden -->
    <!--    </a>-->
    <!--    <a href="#" class="btn btn-default btn-success  pull-right bottom", id:"nav_item">-->
    <!--      <span class="glyphicon glyphicon-user"></span> Aanmelden -->
    <!--    </a>-->
    <!--     </div>-->
    </div>

</header>
    
